@page
@model CustomersClients.Pages.Clientes.DeleteModel
@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>Eliminar Cliente</h1>

<h3>¿Está seguro que desea eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cliente.NombreCompleto)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.NombreCompleto)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cliente.Direccion)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.Direccion)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cliente.Telefono)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.Telefono)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Cliente.FechaCreacion)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.FechaCreacion)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-secondary">Volver</a>
    </form>
</div>
